fastapi==0.100.0
uvicorn==0.23.1
aiohttp==3.8.5
pymysql==1.1.0
aiomysql==0.2.0
aiosmtplib==2.0.2
pysocks==1.7.1
websockets==11.0.3
bcrypt==4.0.1
pillow==10.0.0
python-dateutil==2.8.2
python-multipart==0.0.6
pytz>=2023.3
psutil==5.9.5
pydantic==2.1.1