.inputWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: #e1e4e8 solid 1px;
	-webkit-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	padding: 4px 8px;
}
.tag {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 2px;
	padding: 4px 8px 4px 8px;
	-webkit-transition: none;
	transition: none;
	background-color: #4f545c;
	color: #f6f6f7;
}
.inputInner {
	background: none;
	border: none;
	padding: 4px;
	height: unset;
	min-width: 100px;
	max-width: fit-content;
	outline: none;
}
.inputDefault {
	padding: 10px;
	height: 40px;
}